@using Frontend.DTOs;
@using Frontend.Models.ViewModel.User;
@using Frontend.Utilities;
@model UserViewModel;
@{
    ViewData["Title"] = "Index";
    var common = new Common();
    var loginInfo = common.GetValueBySession();
}
<div class="pagetitle">
    <h1>User</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </nav>
</div>
<div class="row" id="dvTable">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title ">Search Result</h5>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        @if (loginInfo.roleName == "Manager")
                        {
                            <a class="btn btn-success me-0 mt-3"
                               onclick=PopupDetail('',"@Constants.Action.New")>
                                <i class="bi bi-plus-lg me-1"></i>
                                @Constants.Action.New
                            </a>
                        }
                    </div>
                </div>
                <table id="dtResult" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">UserName</th>
                            <th scope="col">Email</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Role</th>
                            <th scope="col">IsActive</th>
                            <th scope="col" style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody id="table_Data">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_DataTableScriptsPartial", Model);
    }
    <script src="~/js/pages/product/select2.js"></script>
}