@using Frontend.DTOs;
@using Frontend.Utilities;
@model ProductDTO;
<script>
    var urlDelete = '@Url.Content(Constants.UrlAction.Product.Delete)';
    var permEdit;
    var permView;


    $(document).ready(function () {
        ClearDataTable("dtResult");
        GetList();
    });
    function GetList() {
        $.ajax({
            type: "POST",
            url: '@Url.Content(Constants.UrlAction.Product.GetList)',
            dataType: "json",
            data: {
               
            },
            success: OnSuccess
        })
    }
    function OnSuccess(response) {
        $('#dtResult').DataTable({
            bDestroy: true,
            bProcessing: true,
            bLenghtChange: true,
            lengthMenu: [[5, 10, 25, -1], [5, 10, 25, "All"]],
            bfilter: true,
            bSort: true,
            bPaginate: true,
            data: response.value,
            columns: [
                {
                    data: 'ProductName',
                    render: function (data, type, row, meta) {
                        return row.productName
                    }
                },
                {
                    data: 'CategoryName',
                    render: function (data, type, row, meta) {
                        return row.categoryName
                    }
                },
                {
                    data: 'Price',
                    render: function (data, type, row, meta) {
                        return row.price
                    }
                },
                {
                    data: 'Stock',
                    render: function (data, type, row, meta) {
                        return row.stock
                    }
                },
                {
                    data: 'CreateBy',
                    render: function (data, type, row, meta) {
                        return row.createBy
                    }
                },
                {
                    data: 'CreateDate',
                    render: function (data, type, row, meta) {
                        if (row.createDate === null) return "";
                        return moment(row.createDate).format('DD/MM/YYYY');
                    }
                },
                {
                    data: 'IsActive',
                    render: function (data, type, row, meta) {
                        switch (row.isActive) {
                            case 1:
                                return '<span class="badge bg-success">'
                                    + '' + 'Active' + ''
                                    + '</span>'
                                break;
                            case 0:
                                return '<span class="badge bg-dark">'
                                    + '' + 'InActive' + ''
                                    + '</span> '
                                break;
                            default:
                                return "";
                                break;
                        }
                    }
                },
                {
                    data: 'null',
                    render: function (data, type, row, meta) {
                        return '<a class="btn btn-info me-2" onclick=PopupDetail("' + row.id + '","View");>'
                            + '<i class="bi bi-search"></i></a>'
                            + '<a class="btn btn-warning me-2" onclick=PopupDetail("' + row.id + '","Edit");>'
                            + '<i class="bi bi-pencil-fill"></i></a>'
                            + '<a class="btn btn-danger" onclick=Delete("' + row.id + '","' + row.productName + '","' + urlDelete + '");>'
                            + '<i class="bi bi-trash-fill"></a>'
                    }
                }
            ]
        });
    }
    function PopupDetail(id, action) {
        var data = { "id": id, "action": action };
        modalPOST(action + " " + "Product", "Product", "_Detail", data, 50);
    };
</script>