<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    @{
        await Html.RenderPartialAsync("_LayoutCssPartial");
    }
</head>
<body>
    <partial name="_Header" />
   @*  <partial name="_SideBar" /> *@
    @await Component.InvokeAsync("Menu")
    <main role="main" id="main" class="pb-3 main">
        <div class="overlay" id="idLoading"></div>
        <div class="popup" id="idLoader">
            <partial name="_Loading" />
        </div>
        @RenderBody()
    </main>
    <partial name="_Modal" />
    <partial name="_Footer" />
    @{
        await Html.RenderPartialAsync("_LayoutScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
