@using Frontend.Models.ViewModel.Menu;
@using Frontend.Utilities;
@model MenuViewModel;
@{
    var common = new Common();
}
<form id="frmRoleMenu" role="form" method="post">
    <div class="form-group mt-2 mb-3">
        <label class="form-label">Menu</label>
        <select asp-for="roleMenuDTO.MenuCode" class="form-control"
                asp-items="@(new SelectList (Model.listMenu, "MenuCode", "Name"))">
            <option disabled selected>@Constants.SelectOption.SelectOne</option>
        </select>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <div class="float-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearModalLv2()">
                    Close
                </button>
                <button id="btnSave"
                        type="button"
                        class="btn btn-primary"
                        onclick="SaveRoleMenu()">
                    Save
                </button>
            </div>
        </div>
    </div>
    <div style="display: none">
        <input type="text" name="roleMenuDTO.Role" value='@Model.roleMenuDTO.Role' />
    </div>
</form>

@{
    await Html.RenderPartialAsync("_AddRoleMenuScript", Model);
}


